@import url(/css-reset/style.css);
@import url(/css/nav-footer/style.css);

body {
  background: url(/img/bg.png), rgba(255, 255, 255, 0.5);
  background-blend-mode: color;
  background-position: 0 100px;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  margin-bottom: 40px;
}

.main {
  font-family: "inter";
  height: 85vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__boxes {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: space-between;
    color: #fff;
    font-size: 23px;
    margin-bottom: 40px;
  }

  &__social-media {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    justify-content: space-around;
  }
}
.boxes {
  &__item {
    width: 90%;
    flex-basis: 27%;
    background-color: #faa72d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-radius: 15px;
  }
}
.box {
  &__info {
    width: 50%;
  }
}

.social-media {
  &__box {
    display: flex;
    align-items: center;
  }

  &__img {
    display: block;
    height: 80px;
    margin-right: 30px;
  }

  &__text {
    font-size: 21px;
    color: black;
  }
}
